.auth-form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #c40000;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(231, 6, 137, 0.1);
}

.auth-form h2 {
  text-align: center;
}

.auth-form div {
  margin-bottom: 15px;
}

.auth-form label {
  display: block;
  margin-bottom: 5px;
}

.auth-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-form button {
  width: 100%;
  padding: 10px;
  background-color: #ffc107;
  color: rgba(240, 9, 240, 0.315);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.auth-form button:hover {
  background-color: #e0a800;
}

.error-message {
  color: red;
  margin-top: 10px;
}
